.page {
  background-image: var(--my-bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--my-bg-color);
  min-height: 100vh;
}

.header {
  height: calc(100vh - 20px);
  min-height: calc(668px - 20px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  margin: 10px;
  justify-content: center;
}

@media(width >= 768px) {
  .header {
    height: calc(100vh - 40px);
    min-height: calc(1024px - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    margin: 20px;
  }
}

@media(width >= 1024px) {
  .header {
    height: calc(100vh - 40px);
    min-height: calc(768px - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    margin: 20px;
  }
}

.decorated-zone {
  position: relative;
  z-index: 10;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 0;
  inset-inline-end: 0;
  border-inline-end: 1px solid var(--accent-color-two);
  border-block-start: 1px solid var(--accent-color-two);
}

.decorated-zone::after {
  inset-block-end: 0;
  inset-inline-start: 0;
  border-inline-start: 1px solid var(--accent-color-two);
  border-block-end: 1px solid var(--accent-color-two);
}

.ornament {
  position: absolute;
  z-index: 10;
  inset-block-start: 0;
  inset-inline-end: 28px;
  font-family: var(--my-font-family);
  font-size: 18px;
  color: var(--accent-color-two);
  text-transform: uppercase;
  margin: 0;
  display: var(--rec);
}

.ornament::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 9px;
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color-two);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media(width >= 768px) {
  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
  }
}

@media(width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column: 1 / -1;
    grid-row: 1;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media(width >= 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
}

@media(width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }
}

.header__theme-menu-button {
  font-family: var(--my-font-family);
  padding-inline: 13px;
  padding-block: 1.5px;
  color: var(--accent-color-two);
  border: none;
  font-size: 18px;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-two);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
 border-bottom: 1px solid var(--accent-color-two);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color-two);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--my-font-family);
  font-weight: bold;
}

@media(width >= 768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    grid-column: 1/ -1;
    grid-row: 2;
    margin-inline-start: -20px;
  }
}

.subtitle {
  line-height: 23.4px;
  font-size: 18px;
  font-family: var(--my-font-family);
  font-weight: bold;
  inline-size: fit-content;
  white-space: pre-line; /*сохраняет перенос*/
  justify-self: end;
  align-self: center;
}

@media(width >= 768px) {
  .subtitle {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: center;
  }
}

.content {
  margin-inline: 10px;
  margin-block: 50px;
  display: grid;
  row-gap: 50px;
  grid-template-columns: 1fr;
}

@media(width >= 768px) {
  .content {
    margin-inline: 20px;
    margin-block: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
  }
}

.content-section {
  font-family: var(--my-font-family);
  font-size: 18px;
  line-height: 23.4px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

@media(width >= 768px) {
  .content-section {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }
}

.section__title {
  color: var(--accent-color-two);
  font-size: 18px;
}

@media(width >= 768px) {
  .section__title {
    grid-column: 1 / 2;
    margin-block-end: 0;
  }

  .article-list {
    grid-column: 2 / -1;
    display: grid;
  }
  
  .section_alternate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section_alternate .section__title {
    grid-column: 1 / 2;
  }

  .section_alternate .article-list_alternate {
    grid-column: 1 / 4;
    grid-row: span 2;
  }

  .content-section .article-list .section__card-title_item {
    margin-block-end: 20px;
  }
}

@media(width >= 1024px) {
  .section_alternate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section_alternate .article-list_alternate {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.article__card {
  margin-block-end: 20px;
}

.article__card:last-child {
  margin-block-end: 0;
}

.section__card-title {
  font-size: 18px;
  font-family: var(--my-font-family);
  margin-block-end: 10px
}

.section__card-title_item {
  margin-block-end: 20px;
}

.section__card-title-font {
  font-weight: normal;
}

.section__card-text {
  color: var(--text-color);
  line-height: 23.4px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery-grid__image {
  width: 100%;
  height: auto; object-fit: cover;
}

.content-section:has(.gallery-grid) {
  row-gap: 10px; 
}

@media(width >= 768px) {
  .content-section:has(.gallery-grid) {
    row-gap: 20px;
  }

  .section__title_gallery {
    grid-column: 1 / -1;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    grid-column: 1 / -1;
  }

  .gallery-grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-grid__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery-grid__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery-grid__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  
  .gallery-grid__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery-grid__image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--accent-color);
}

.footer {
  height: calc(100vh - 20px);
  min-height: calc(668px - 20px);
  display: grid;
  position: relative;
  margin-inline: 10px;
  margin-block: 10px;
}

@media(width >= 768px) {
  .footer {
    height: calc(100vh - 40px);
    min-height: calc(1024px - 40px);
    margin-inline: 20px;
    margin-block: 20px;
  }

  .title-footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}

@media(width >= 1024px) {
  .footer {
    height: calc(100vh - 40px);
    min-height: calc(768px - 40px);
    margin-inline: 20px;
    margin-block: 20px;
  }
}

.title-footer {
  align-self: center;
  justify-self: center;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--my-font-family);
  font-weight: bold;
}

@media(width >= 768px) {
  .title-footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media(width >= 1024px) {
  .title-footer  {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__card-text a:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__card-text a:focus {
  outline: none;
}

.section__card-text a:focus {
  outline: 1px solid var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --my-font-family: 'IBM Plex mono', sans-serif;
    --my-bg-color: #FFEEF6;
    --my-bg-image: url('/images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --accent-color-two: #353430;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --outline-hover: rgba(50, 49, 45, 0.4);
    --decor-color: #353430;
    --rec: none;
  }
}